.speNav-define li.speNav-li{width: 22%;text-align: left;}/*为首页 土地和产权交易栏目*/
/*bootstrap覆盖*/
@media (min-width: 1300px){
    .container {  width: 1200px;}
}

/* pc独有样式 */
@media (min-width: 992px){
    /*头部导航悬浮*/
    .header-nav.navFixed{height: 50px;position: fixed;z-index: 50;top:0;bottom: auto;-webkit-animation: slideInDown .25s linear both;animation: slideInDown .25s linear both;}
    .header-nav.navFixed .nav-list >li{height: 50px;line-height: 50px;}
    .header-nav.navFixed .nav-list >li.active{-webkit-box-shadow: none;box-shadow: none;background-color: transparent;}
    .header-nav.navFixed .subNav{top: 50px;}
    .banner-control >div:hover .banner-btn:after{display: block;}
}

/* 移动端及平板独有样式 */
@media (max-width: 991px){
    /*头部及导航*/
    .header-top{position: fixed;top: 0;left: 0;width: 100%;height: 55px;background-color: #fff;z-index: 100;}
    .header-logo{margin-left: 15px;width: auto;display: inline-block;}
    .header-logo img{height: 45px;width: auto;margin-top: -8px;}
    .header-logo .test-run{width: 50px;height: auto;top: 18px;right:-55px;}
    .header-right-search{margin-top: 0;margin-right: 15px;}
    .header-search{display:none;position: fixed;top: 55px;left: 0;width: 100%;box-shadow: 2px 5px 5px rgba(0,0,0,.1);z-index: 99;}/*搜索*/
    .header-nav{display:none;position: fixed;height:308px;top:55px;left:0;right:0;background-color:rgba(255,255,255,.9);z-index: 99;box-shadow: 2px 5px 5px rgba(0,0,0,.1);}
    .header-search.show,.header-nav.show{display: block;-webkit-animation: m-fadeInDown .25s ease both;animation: m-fadeInDown .25s ease both;}
    .nav-list >li{width: 100%;margin-left: 0;border-top: 1px solid #e9e9e9;}
    .nav-list >li>a{color: #333;}
    .nav-list >li.active{-webkit-box-shadow: none;box-shadow: none;background-color: transparent;}
    .nav-list >li.nav-chunk{visibility: hidden;}
    /*banner*/
    .banner{margin-top: 55px;}
    #banner-swiper,.banner{height: 235px;}
    .banner-btn{margin-bottom: 30px;}
    /*新闻*/
    .index-focus,.index-news,.index-inform{width: 100%;}
    .index-news,.index-inform{margin-top: 20px;}
    /*信息公开及互动交流*/
    .com-title,.com-tab-content{width: 100%;margin-top: 20px;}
    .com-title{height: 40px;}
    .com-title li{width: 33.333%;float: left;margin-top: 0;}
    .com-title li a{height: 40px;line-height: 40px;}
    .com-title li.active a:after{border-top-color: #ff8a00;  top: 40px;  border-left-color: transparent;  right: 50%;  margin-right: -6px;}
    .com-tab-content{margin-top: 10px;}
    .index-video2{width: 43%;}
    .index-video,.index-video2{margin-top: 20px;}
    /*其他政务信息*/
    .index-other-info{width: 100%;margin-left: 0;margin-top: 20px;}
    .index-other-info:first-child{margin-top: 0;width: 100%;}
    /*底部*/
    .footer-left-img{margin-left: 0;}
    .footer-support{display: block;}
    .footer-right{right: 15px;}


    /*------招商引资自适应页面----------*/
    /*导航*/
    .f-header-nav{position: fixed;display:none;top: 40px;left: 0;right: 0;text-align:center;background-color:rgba(255,255,255,.9);z-index: 99;box-shadow: 2px 5px 5px rgba(0,0,0,.1);}
    .f-header-nav.show{display: block;}
    .f-header-nav li{width: 100%;border-bottom: 1px solid #eee;margin: 0;}
    .f-header-navControl{display: block !important;}
    .f-header-subNav{width: 100%;padding-top: 0;}
    .f-header-subNav-list{border-radius: 0;}
    .f-header-subNav-list:before,.f-header-subNav-list >li a:after{display: none;}
    .f-inves-item3,.f-inves-item2{margin-left: 0;margin-right: 0;}
    /*----------民生热点自适应页面----------*/
    .f-live-eName,.f-live-item{display: none;}
    .f-live-items li{height:62px;line-height: 42px;}
    .f-live-items li a{text-align: center;padding: 10px 15px;}

}
/* 移动端独有样式 */
@media (max-width: 767px){
    .plr-0{padding-left: 15px !important;padding-right: 15px !important;}
    /*飘窗*/
    .f-scroll-left{display:none;}
    /*.index-inform{padding: 0 !important;margin-left: 15px;margin-right: 15px;width: auto;}*/
    .index-inform{border: none;padding-left: 15px;padding-right: 15px;}
    .index-inform >div{border: 1px solid #efefef;}
    .header-logo{margin-left: 0;}
    .header-right-search{margin-right: 0;}
    .index-special-title,.index-part4{height: 45px;line-height: 45px;padding: 0;}
    .index-special-title{left: 15px;right: 15px;width: auto;}
    .index-special-title:after{display: none;}
    .index-special-img{opacity: 0;filter:alpha(opacity=0);visibility: hidden;}
    .footer-mag{margin-left: 0;}
    .index-other-nav li,.index-other-info li.news-nav-line{width: 25%;font-size: 14px;}
    .speNav-define li,.speNav-define li.news-nav-line{width: 21%;font-size: 14px;margin-right: 0;}
    .speNav-define li.speNav-li{width: 31%;margin-right: 2%;}
    .index-part4{display: none;}
    .call-popup-contain{width: 90%;height:auto;margin-left: 0;left: 5%;margin-top:0;top:5%;}
    .call-popup-list{margin-left: 0;max-height: 200px;}
    .call-popup-list li{margin-left: 0;width: 100%;}


    /*------招商引资自适应页面----------*/
    .investment-slogan{padding-left: 15px;}
    .investment-slogan img{width: 30px;}
    .investment-require{margin:-5px 15px 0 0;}
    .investment-focus{height: auto;margin-left: 0;margin-right: 0;}
    .investment-focus:before{display: none;}
    .investment-focus >div{width: 100%;}
    .investment-focus-title{height: 40px;line-height:20px;font-size: 16px;}
    .investment-focus-title+p{margin-top: 5px;}
    .f-inves-item{width: 100%;}
}

/* 特殊尺寸样式 */
@media (max-width: 1299px){
    .each-link{margin: 0;}
}
@media (min-width: 992px) and (max-width: 1200px) {
    .nav1-spe >ul a{text-indent: 13px;}
    .nav1-left ul a img{padding-right: 5px;}
    .news-nav{font-size: 14px;}
    .each-link{margin: 0;}
    .speNav-define li.speNav-li{width: 22%;}
}
@media (max-width: 350px){
    .index-news .news-nav li{width: 29%;font-size: 14px;}
    .com-title li{font-size: 14px;}
    .index-other-nav li{width: 25%;font-size: 14px;}
    .speNav-define li,.speNav-define li.news-nav-line{width: 21%;font-size: 12px;margin-right: 0;}
    .speNav-define li.speNav-li{width: 32%;}
    .index-other-list .news-title{width: 70%;}

    /*----------民生热点自适应页面----------*/
    .f-live-items li a{padding: 10px;}
    .f-live-items li a .f-18{font-size: 16px;}
}
@media (max-width: 458px){
    /*------招商引资自适应页面----------*/
    #investment-focus{height: 210px;}
    /*----------民生热点自适应页面----------*/
    .f-live-items li{line-height: 21px;}
}
@media (min-width: 768px) and (max-width: 900px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
